@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray ;
}
.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    margin-bottom: 52px;
    background-color: white;
    width: 1000px;
    min-height: 1000px;
    max-height: 1800px;
    border-radius: 8px;
    box-shadow: black 12px 12px 18px 4px;
}
.contenido{
    padding: 40px;
}
.device-description-image{
    width: 800px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: grey 0px 0px 21px 2px inset;
    background-color: whitesmoke;
    padding: 21px;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}
.identificador{
    color: midnightblue;
    display: inline-block;
}
.list{
    margin-left: 74px;
    margin-top: 18px;
    font-family: 'Roboto', sans-serif;
}
.list li{
    margin-top: 21px;
    margin-left: 18px;
}
.list li u{
    text-decoration: none;
    font-weight: 700;
}
.table-container{
    margin-top:  28px;
    min-height: calc(32px * 2);
    max-height: calc(32px * 6);
    overflow-y: scroll;
    margin-left: calc(460px - 500px + 200px - 30px);
    margin-right: 212px;
    
}
.sw-table{
    border-collapse: collapse;
}
.sw-table .sw-table-head{
    position: sticky;
    top: -1px;
}
.sw-table .sw-table-foot{
    position: sticky;
    bottom: -1px;
}
*::-webkit-scrollbar{
    width: 18px;
}
*::-webkit-scrollbar-track{
    background-color: black;
    border: 7px solid midnightblue;
}
*::-webkit-scrollbar-thumb{
    background-color: #00a3bc;
    border-left: 3px solid midnightblue;
    border-right: 3px solid midnightblue;
    border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover{
    background-color: turquoise;
}
.table-container::-webkit-scrollbar{
    width: 18px;
}
.table-container::-webkit-scrollbar-track{
    background-color: black;
    border: 7px solid midnightblue;
}
.table-container::-webkit-scrollbar-thumb{
    background-color: #00a3bc;
    border-left: 3px solid midnightblue;
    border-right: 3px solid midnightblue;
    border-radius: 8px;
}
.table-container::-webkit-scrollbar-thumb:hover{
    background-color: turquoise;
}
.sw-table tr{
    border: 1px solid black;
    text-align: center;
    height: 41px;
}
.sw-table td{
    width: 180px;
    border: 1px solid black;
}
.sw-table td:last-child{
    width: 110px;
}
.sw-table-head{
    background-color: mediumblue;
    color: white;
}
.sw-table-head tr{
    height: 32px;
}
.sw-table-body{
    background-color: white;
    color: black;
}
.sw-table-foot{
    background-color: mediumblue;
    color: white;
}
.sw-table-foot tr{
    height: 36px;
}
.actions-container{
    display: flex;
    gap: 52px;
}
.action{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 140px;
    height: 32px;
    border-radius: 6px;
    gap: 21px;
    text-align: center;
    line-height: 32px;
    margin-top: 64px;
}
.volver{
    background-color: mediumblue;
    margin-left: calc(480px - 74px - 18px - 140px - 52px);
    transition:  .2s;
}
.volver:hover{
    color: black;
    background-color: turquoise;
    font-weight: 600;
    border: 2px solid mediumblue;
    line-height: 28px;
    transition: .2s;
}
.agregar{
    background-color: green;
    transition: .2s;
}
.agregar:hover{
    color: black;
    background-color: lime;
    font-weight: 600;
    border: 2px solid green;
    line-height: 28px;
    transition: .2s;
}
.delete-sw{
    display: block;
    width: 42px;
    height: 30px;
    background-color: red;
    line-height: 32px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    transition: .2s;
    border: 2px solid rgb(119, 0, 0);
}
.delete-sw:hover{
    background-color: tomato;
    transition: .2s;
}
.delete-sw-action{
    height: 26px;
    line-height: 26px;
}
.nuevo-sw{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    background-color: mediumblue;
    border-radius: 6px;
    height: 26px;
    width: 118px;
    line-height: 22px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid cyan;
    transition: .2s;
}
.nuevo-sw:hover{
    background-color: cyan;
    border: 2px solid teal;
    color: black;
    font-weight: 600;
    transition: .2s;
}
.uninstall-delete-alert{
    display: none;
}
.uninstall-modal-window{
    background-color: white;
    height: 210px;
    text-align: center;
    width: 480px;
    z-index: 10;
    border: 4px solid mediumblue;
    border-radius: 8px;
    position: fixed;
    left: calc(50% - 240px - 4px);
    top: 62px;
    transition: .6s;
    visibility: hidden;
    transform: translateY(-600px);
}
.uninstall-modal-window-content h2{
    margin-top: 18px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-align: justify;
    margin-left: 28px;
    text-decoration: black underline;
}
.uninstall-modal-window-content p{
    margin-top: 38px;
    margin-bottom: 52px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.uninstall-modal-window-option{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: black;
    width: 120px;
    height: 32px;
    border: 2px solid black;
    line-height: 28px;
    text-decoration: none;
    cursor: pointer;
    margin-right: 28px;
    border-radius: 4px;
}
.uninstall-options-container{
    margin-right: -150px;
    margin-top: -4px;
}
.uninstall-modal-window-option.cancel{
    background-color: blue;
    color: white;
}
.uninstall-modal-window-option.cancel:hover{
    background-color: lightskyblue;
    box-shadow: midnightblue 0px 0px 8px 1px;
    color: black;
}
a.uninstall-modal-window-option{
    background-color: limegreen;
    color: white;
}
a.uninstall-modal-window-option:hover{
    background-color: lime;
    box-shadow: green 0px 0px 8px 1px;
    color: black;
}
.uninstall-delete-alert:checked ~ .uninstall-modal-window{
    transition: .6s;
    visibility: visible;
    transform: translateY(0px);
}